.rgs-container {
    max-width: 1728px;
    height: auto;
    min-height: 830px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f8f8f8;
}

.rgs-container .content {
    width: 100%;
    height: 100%;
    padding-left: 154px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

}

.rgs-container .content .left-side {
    width: 700px;
    margin-top: 185px;
}

.rgs-container .content .left-side h1 {
    font-family: "Inter", sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    background: linear-gradient(92deg, #165831 -0.02%, rgba(22, 88, 49, 0.80) 99.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.rgs-container .content .left-side p {
    color: #343434;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.rgs-container .content .left-side .btn-section {
    display: flex;
    justify-content: start;
    margin-top: 40px;
}

.rgs-container .content .left-side .btn-section .cta-button {
    max-width: 476px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #175730;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.40);
    overflow: hidden;
    color: var(--Secondary-Light, #F2F2F2);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.rgs-container .content .left-side .cta-text {
    z-index: 1;
}

.rgs-container .content .left-side .cta-icon-box {
    background-color: #FFF;
    height: 73px;
    width: 76px;
    margin-left: 20px;
    border-radius: 6px;
    transform: skewX(-18deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.rgs-container .content .left-side .cta-icon {
    color: #165831;
    font-size: 18px;
    font-weight: bold;
    transform: skewX(12deg);
}

.rgs-container .content .left-side .cta-icon::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/arrow-2.svg');
    background-size: cover;
}

.rgs-container .content .right-side {
    width: 50%;
}



@media (min-width: 1250px) and (max-width: 1400px) {
    .rgs-container {
        min-height: 750px !important;
    }

    .rgs-container .content {
        padding-left: 40px;
    }

}

/* @media (min-width: 1230px) and (max-width: 1300px) {

    .rgs-container .content {
        flex-direction: column;
    }

    .rgs-container .content .left-side {
        width: 100% !important;
    }


    .rgs-container .content .right-side {
        width: 100% !important;
    }
} */

@media (min-width: 992px) and (max-width: 1229px) {

    .rgs-container .content {
        padding-left: 20px;
        flex-direction: column;
    }

    .rgs-container .content .left-side {
        width: 100% !important;
    }


    .rgs-container .content .right-side {
        width: 100% !important;
    }
}

@media (min-width: 316px) and (max-width: 991px) {

    .rgs-container .content {
        padding-left: 20px;
        flex-direction: column;
    }

    .rgs-container .content .left-side {
        width: 100% !important;
    }

    .rgs-container .content .left-side h1 {
        font-size: 45px;
    }

    .rgs-container .content .right-side {
        width: 100% !important;
    }

    .rgs-container .content .left-side .btn-section .cta-button {
        font-size: 20px;
    }
}