.reviews-container {
    max-width: 1728px;
    padding: 80px 154px;
    margin: 0 auto;
    position: relative;
}
.reviews-container .half-box{
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #165831;
}

.reviews-container .reviews-title {
    color: #165831;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}

.swiper-wrapper-box {
    position: relative;
}

.reviews-container .review-card {
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.80);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px);
    padding: 0px 20px 20px 20px;
    text-align: center;
}

.reviews-container .review-card .review-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -70px;
}

.reviews-container .review-card .review-name {
    color: #165831;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 4px;
}

.reviews-container .review-card .designation {
    color: #165831;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
}

.reviews-container .review-card .review-text {
    color: #343434;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.reviews-container .swiper-wrapper {
    overflow: visible;
    padding-top: 120px;
}


/* Custom arrows */
.custom-swiper-button {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    z-index: 10;
    width: 80px;
    height: 80px;
    color: #165831;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.custom-prev {
    left: -90px;
}


.custom-next {
    right: -90px;
}

.btn-section {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.btn-section .cta-button {
    max-width: 419px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    border: none;
    border-radius: 6px;
    color: #175730;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.cta-text {
    z-index: 1;
}

.cta-icon-box {
    background-color: #165831;
    height: 73px;
    width: 76px;
    margin-left: 20px;
    border-radius: 6px;
    transform: skewX(-18deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-icon {
    color: #165831;
    font-size: 18px;
    font-weight: bold;
    transform: skewX(12deg);
}

.cta-icon::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/arrow.svg');
    background-size: cover;
}


@media (min-width: 1250px) and (max-width: 1400px) {
    .reviews-container {
        padding: 90px 90px;
    }
}

@media (min-width: 316px) and (max-width: 768px) {
    .reviews-container {
        padding: 40px 40px;
    }

    .reviews-title {
        font-size: 40px;
    }

    .custom-swiper-button {
        width: 50px;
        height: 50px;
        top: 65%;
    }

    .custom-prev {
        left: -40px;
    }

    .custom-next {
        right: -40px;
    }

    .btn-section .cta-button {
        font-size: 18px;
    }
}